@model IEnumerable<School_Portal.ViewModels.PaymentViewModel>
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>

    body {
        counter-reset: Serial; /* / Set the Serial counter to 0 /*/
    }

    tr td:first-child:before {
        counter-increment: Serial; /* / Increment the Serial counter /*/
        content: counter(Serial); /*  / Display the counter /*/
    }

    .table-avatar {
        cursor: pointer !important;
    }
</style>
<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">Courses</h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li>Courses</li>
            </ul>
        </div>
        <div class="container mt-4 text-center">
            <h2> Course Payment Details</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Student Name</th>
                        <th>Course Name</th>
                        <th>Prove</th>
                        <th>Price</th>
                        <th>Created Date</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                        @foreach (var payment in Model)
                        {
                            <tr>
                                <td></td>
                                <td>@payment.StudentName</td>
                                <td>@payment.CourseName</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(payment.Imageurl))
                                    {
                                        <img src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/..." alt="Test Image" style="width:100px;height:auto;" />

                                        <img src="@payment.Imageurl" alt="Payment Image" style="width: 100px; height: auto;" />
                                    }
                                    else
                                    {
                                        <p>
                                            No image available
                                        </p>
                                    }
                                </td>
                                <td>@payment.CoursePrice</td>
                                <td>@payment.CreatedDate.ToString("D")</td>
                                <td>
                                    <button class="badge badge-success" onclick="ApprovedPayment('@payment.Id')">Approved</button>
                                    <button style="background-color:#4c1864; color:white;" onclick="DeclinePayment('@payment.Id')">Decline</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>

